.about-image {
	max-width: 175px;
	height: auto;
	border-radius: 9px;
}

.section-about{
	border: solid 1px gainsboro;
	background-color: #E8E8E8;
	padding:30px;
}

.main-about  {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

}

.about-description{
	display: inline-block;
	padding: 30px;
	width:75%;
	text-align: justify;
}

.item {
  flex-basis: auto; 
}

.fan-about, .fan-about-info{
	font-size: 2.5em;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
  }

  .fan-about{
	margin: 0px 0px 10px 0px;
  }
  .fan-about-info{
	font-size: 1.5em;
	margin: 0px 0px 20px 0px;
  }
  